@* Displays Selected Mirrors Pricing *@
@namespace BronzeArtWebApplication.Components.MirrorCreationComponents
@using BronzeRulesPricelistLibrary
@using BronzeRulesPricelistLibrary.ConcreteRules
@using static BronzeArtWebApplication.Shared.Helpers.CommonStaticInfo
@inject ILanguageContainerService lc
@inject BronzeUser user

@*  BreakPoint           :Otherwise the Table Transforms in Smaller Dimensions
    Custom Footer/Header :Otherwise we can only use one Line
*@

<style>
    .mud-table-head .header-centered th {
        text-align: center;
    }
</style>

<MudTable Items="@Priceables" ReadOnly="@readOnly"
          Dense="true"
          Hover="true"
          Class="@(Class)"
          Style="background-color:inherit;width:100%;"
          CustomFooter="true"
          CustomHeader="true"
          Elevation="4"
          Breakpoint="Breakpoint.None"
          HorizontalScrollbar="true">
    <HeaderContent>
        <MudTHeadRow Class="header-centered" Style="background-color:inherit">
            <MudTh Style="border-bottom:2px solid var(--customPrimary)">@lc.Keys["Code"]</MudTh>
            <MudTh Style="border-bottom:2px solid var(--customPrimary)">@lc.Keys["Description"]</MudTh>
            @if (user.IsPricingVisible)
            {
                @if (user.SelectedAppMode == BronzeAppMode.Retail && user.CombinedDiscount is 0)
                {
                    @*Do no Show The Column if Discount is Zero*@
                }
                else
                {
                    <MudTh Style="border-bottom:2px solid var(--customPrimary)">
                        @lc.Keys["RetailPrice"]
                    </MudTh>
                }
                <MudTh Style="border-bottom:2px solid var(--customPrimary)">
                    @(user.SelectedAppMode != BronzeAppMode.Retail ? $"{lc.Keys["NetPrice"]}({lc.Keys["PlusVat"]}*)" : (lc.Keys["FinalPrice"]))
                </MudTh>
                @if (user.IsPowerUser && !WithPrintStyle)
                {
                            <MudTh Style="width:20px;border-bottom:2px solid var(--customPrimary)"></MudTh>
                }
            }
        </MudTHeadRow>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="@lc.Keys["Code"]" Style="text-align:center;white-space:nowrap">@context.Code</MudTd>
        <MudTd DataLabel="@lc.Keys["Description"]" Style="text-align:center">@(string.Join(" ",context.DescriptionKeys.Select(key=>lc.Keys[key])))</MudTd> @*Converts the Descriptionkeys list to lc.keys[] list and then joins them seperated by a space*@
        @if (user.IsPricingVisible)
        {
            @if (user.SelectedAppMode == BronzeAppMode.Retail && user.CombinedDiscount is 0)
            {
                @*Do no Show The Column if Discount is Zero*@
            }
            else
            {
                <MudTd DataLabel="@lc.Keys["RetailPrice"]">
                    <MudText Typo="Typo.body2"
                     Align="Align.Right"
                     Style="@((user.SelectedAppMode == BronzeAppMode.Retail && context.StartingPrice != 0) ? "text-decoration:line-through;" : "")">
                        @(context.StartingPrice != 0 ? context.StartingPrice.ToString("0.00\u20AC") : lc.Keys["Included"])
                    </MudText>
                </MudTd>
            }
            <MudTd DataLabel="@($"{lc.Keys["NetPrice"]}{lc.Keys["PlusVat"]}*")">
                <MudText Typo="Typo.body2" Align="Align.Right">
                    @(context.StartingPrice != 0 ? context.GetNetPrice().ToString("0.00\u20AC") : lc.Keys["Included"])
                </MudText>
            </MudTd>
            @if (user.IsPowerUser && !WithPrintStyle)
            {
                        <MudTd DataLabel="i">
                            <MudTooltip Placement="@(Placement.Left)">
                                <ChildContent>
                                    <MudIcon Icon="@(Icons.Material.Filled.Info)" Color="@(Color.Primary)" />
                                </ChildContent>
                                <TooltipContent>
                                    <MudText Style="text-decoration:underline">@(lc.Keys["AppliedDiscountRules"])</MudText>
                                    <table style="border-collapse:collapse">
                                @foreach (AppliedRule rule in context.AppliedRules)
                                {
                                                <tr>
                                                    <td><MudText Align="@(Align.Left)" Class="mr-2" Typo="@(Typo.subtitle2)">@($"{context.AppliedRules.IndexOf(rule)+1}.{lc.Keys[PricingRulesDescKeys[rule.RuleName]]}")</MudText></td>
                                                    <td><MudText Style="color:lightgreen" Align="@(Align.Right)" Typo="@(Typo.subtitle2)">@($"{rule.RuleApplicationDescription}")</MudText></td>
                                                </tr>
                                }
                                        <tr style="border-top:1px solid ghostwhite">
                                            <td>
                                                <MudText Align="@(Align.Left)" Class="mr-2" Typo="@(Typo.subtitle2)">@(lc.Keys["CalculatedPrice"])</MudText>
                                            </td>
                                            <td>
                                                <MudText Style="color:lightgreen" Align="@(Align.Right)" Typo="@(Typo.subtitle2)">@(context.GetNetPrice().ToString("0.00\u20AC"))</MudText>
                                            </td>
                                        </tr>
                                    </table>
                                </TooltipContent>
                            </MudTooltip>
                        </MudTd>
            }
        }
    </RowTemplate>
    @* Footer Changes according to AppMode Retail or Wholesale (Guest is Out Either Way because of Price Visibility) 
       Vat FooterRows are Visible Except for RetailTheme.Lakiotis
    *@
    <FooterContent>
        @if (user.IsPricingVisible)
        {
            <MudTFootRow>
                <MudTd colspan="2">
                    <MudText Typo="Typo.h6" Align="Align.Right">@(lc.Keys["Total"])</MudText>
                </MudTd>
                @if (user.SelectedAppMode == BronzeAppMode.Retail && user.CombinedDiscount is 0)
                {
                    @*Do no Show The Column if Discount is Zero*@
                }
                else
                {
                    <MudTd>
                        <MudText Typo="Typo.body2" Align="Align.Right" Style="@CataloguePriceStyle">
                            @(Priceables.Sum(p=>p.StartingPrice).ToString("0.00\u20AC"))
                        </MudText>
                    </MudTd>
                }
                <MudTd>
                    <MudText Typo="Typo.body2" Align="Align.Right" Style="font-weight:700">
                        @(Priceables.Sum(p=>p.GetNetPrice()).ToString("0.00\u20AC"))
                    </MudText>
                </MudTd>
                @if (user.IsPowerUser && !WithPrintStyle)
                {
                            <MudTd>
                                <MudTooltip Placement="@(Placement.Left)">
                                    <ChildContent>
                                        <MudIcon Icon="@(Icons.Material.Filled.Info)" Color="@(Color.Primary)" />
                                    </ChildContent>
                                    <TooltipContent>
                                        <MudText Style="text-decoration:underline">@(lc.Keys["AppliedDiscountRules"])</MudText>
                                        <table style="border-collapse:collapse">
                                    @foreach (var priceable in Priceables)
                                    {
                                                    <tr>
                                                        <td><MudText Align="@(Align.Left)" Class="mr-2" Typo="@(Typo.subtitle2)">@($"{Priceables.IndexOf(priceable)+1}.  {priceable.Code}")</MudText></td>
                                                        <td><MudText Style="color:lightgreen" Align="@(Align.Right)" Typo="@(Typo.subtitle2)">@($"{priceable.GetNetPrice().ToString("0.00\u20AC")}")</MudText></td>
                                                    </tr>
                                    }
                                            <tr style="border-top:1px solid ghostwhite">
                                                <td>
                                                    <MudText Align="@(Align.Left)" Class="mr-2" Typo="@(Typo.subtitle2)">@(lc.Keys["CalculatedPrice"])</MudText>
                                                </td>
                                                <td>
                                                    <MudText Style="color:lightgreen" Align="@(Align.Right)" Typo="@(Typo.subtitle2)">@(Priceables.Sum(i=>i.GetNetPrice()).ToString("0.00\u20AC"))</MudText>
                                                </td>
                                            </tr>
                                        </table>
                                    </TooltipContent>
                                </MudTooltip>
                            </MudTd>
                }
            </MudTFootRow>
            @if (user.SelectedAppMode != BronzeAppMode.Retail)
            {
                <MudTFootRow>
                    <MudTd colspan="4" Style="text-align:right">
                        <MudText Typo="Typo.caption">
                            @($"*{lc.Keys["WhereApplicable"]}")
                        </MudText>
                    </MudTd>
                </MudTFootRow>
            }
            @*THESE ARE THE FOOTROWS ASSOCIATED WITH VAT*@
            else if (user.SelectedAppMode == BronzeAppMode.Retail && Priceables.Sum(p=>p.GetNetPriceWithVat()) != 0 && user.SelectedRetailTheme != RetailModeTheme.Lakiotis)
            {
                <MudTFootRow>
                    <MudTd colspan="2" Style="text-align:right">
                        <MudText Typo="Typo.subtitle1" Style="font-weight:500">
                            @($"{lc.Keys["VAT"]}({(user.SelectedVatFactor-1).ToString("0%")})")
                        </MudText>
                    </MudTd>
                    @if (user.CombinedDiscount is 0)
                    {
                        @*Do no Show The Column if Discount is Zero*@
                    }
                    else
                    {
                        <MudTd>
                            <MudText Typo="Typo.body2" Align="Align.Right" Style="@CataloguePriceStyle">
                                @(Priceables.Sum(p=>p.GetStartingPriceWithVat() - p.StartingPrice).ToString("0.00\u20AC"))
                            </MudText>
                        </MudTd>
                    }
                    <MudTd Style="text-align:right" >
                        <MudText Typo="@(Typo.body2)" Align="@(Align.Right)" Style="font-weight:700">
                            @(Priceables.Sum(p=>p.GetNetPriceWithVat() - p.GetNetPrice()).ToString("0.00\u20AC"))
                        </MudText>
                    </MudTd>
                </MudTFootRow>

                <MudTFootRow>
                    <MudTd colspan="2" Style="text-align:right">
                        <MudText Typo="Typo.h6">
                            @(lc.Keys["FinalTotal"])
                        </MudText>
                    </MudTd>
                    @if (user.CombinedDiscount is 0)
                    {
                        @*Do no Show The Column if Discount is Zero*@
                    }
                    else
                    {
                        <MudTd>
                            <MudText Typo="Typo.body2" Align="Align.Right" Style="@CataloguePriceStyle">
                                @(Priceables.Sum(p=>p.GetStartingPriceWithVat()).ToString("0.00\u20AC"))
                            </MudText>
                        </MudTd>
                    }
                    <MudTd Style="text-align:right">
                        <MudText Typo="@(Typo.body2)" Align="@(Align.Right)" Style="font-weight:700">
                            @(Priceables.Sum(p=>p.GetNetPriceWithVat()).ToString("0.00\u20AC"))
                        </MudText>
                    </MudTd>
                </MudTFootRow>
            }
            else
            {
                //Show nothing
            }
        }
    </FooterContent>
</MudTable>


@code {
/*
 * DEPRECATED OLD TABLE
 * <MudTable Items="@TableData.Rows" ReadOnly="@readOnly"
          Dense="true"
          Hover="true"
          Class="@Class"
          Style="background-color:inherit;width:100%"
          CustomFooter="true"
          CustomHeader="true"
          Elevation="4"
          Breakpoint="Breakpoint.None"
          HorizontalScrollbar="true">
    <HeaderContent>
        <MudTHeadRow Class="header-centered">
            <MudTh>@lc.Keys["Code"]</MudTh>
            <MudTh>@lc.Keys["Description"]</MudTh>
            @if (user.IsPricingVisible)
            {
                @if (user.SelectedAppMode == BronzeAppMode.Retail && TableData.Discount == "0%")
                {
                    @*Do no Show The Column if Discount is Zero*@
                }
                else
                {
                    <MudTh>
                        @lc.Keys["RetailPrice"]
                    </MudTh>
                }
                <MudTh>
                    @(user.SelectedAppMode != BronzeAppMode.Retail ? $"{lc.Keys["NetPrice"]}({lc.Keys["PlusVat"]}*)" : (lc.Keys["FinalPrice"] + (TableData.Discount != "0%" ? $" (-{TableData.Discount})" : "")))
                </MudTh>
            }
        </MudTHeadRow>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="@lc.Keys["Code"]" Style="text-align:center;white-space:nowrap">@context.Code</MudTd>
        <MudTd DataLabel="@lc.Keys["Description"]" Style="text-align:center">@context.Description</MudTd>
        @if (user.IsPricingVisible)
        {
            @if (user.SelectedAppMode == BronzeAppMode.Retail && TableData.Discount == "0%")
            {
                @*Do no Show The Column if Discount is Zero*@
            }
            else
            {
                <MudTd DataLabel="@lc.Keys["RetailPrice"]">
                    <MudText Typo="Typo.body2"
                     Align="Align.Right"
                     Style="@((user.SelectedAppMode == BronzeAppMode.Retail && context.CataloguePrice != lc.Keys["Included"]) ? "text-decoration:line-through;" : "")">
                        @(context.CataloguePrice)
                    </MudText>
                </MudTd>
            }
            <MudTd DataLabel="@($"{lc.Keys["NetPrice"]}{lc.Keys["PlusVat"]}*")">
                <MudText Typo="Typo.body2" Align="Align.Right">
                    @(context.NetPrice)
                </MudText>
            </MudTd>
        }
    </RowTemplate>
    @* Footer Changes according to AppMode Retail or Wholesale (Guest is Out Either Way because of Price Visibility) 
       Vat FooterRows are Visible Except for RetailTheme.Lakiotis
    *@
    <FooterContent>
        @if (user.IsPricingVisible)
        {
            <MudTFootRow>
                <MudTd colspan="2">
                    <MudText Typo="Typo.h6" Align="Align.Right">@(lc.Keys["Total"])</MudText>
                </MudTd>
                @if (user.SelectedAppMode == BronzeAppMode.Retail && TableData.Discount == "0%")
                {
                    @*Do no Show The Column if Discount is Zero*@
                }
                else
                {
                    <MudTd>
                        <MudText Typo="Typo.body2" Align="Align.Right" Style="@CataloguePriceStyle">
                            @(TableData.CataloguePriceSum)
                        </MudText>
                    </MudTd>
                }
                <MudTd>
                    <MudText Typo="Typo.body2" Align="Align.Right" Style="font-weight:700">
                        @(TableData.NetPriceSum)
                    </MudText>
                </MudTd>
            </MudTFootRow>
            @if (user.SelectedAppMode != BronzeAppMode.Retail)
            {
                <MudTFootRow>
                    <MudTd colspan="4" Style="text-align:right">
                        <MudText Typo="Typo.caption">
                            @($"*{lc.Keys["WhereApplicable"]}")
                        </MudText>
                    </MudTd>
                </MudTFootRow>
            }
            @*THESE ARE THE FOOTROWS ASSOCIATED WITH VAT*@
            else if (user.SelectedAppMode == BronzeAppMode.Retail && TableData.TotalVatNetPriceDecimal != 0 && user.SelectedRetailTheme != RetailModeTheme.Lakiotis)
            {
                <MudTFootRow>
                    <MudTd colspan="2" Style="text-align:right">
                        <MudText Typo="Typo.subtitle1" Style="font-weight:500">
                            @($"{lc.Keys["VAT"]}({(user.SelectedVatFactor-1).ToString("0%")})")
                        </MudText>
                    </MudTd>
                    @if (TableData.Discount == "0%")
                    {
                        @*Do no Show The Column if Discount is Zero*@
                    }
                    else
                    {
                        <MudTd>
                            <MudText Typo="Typo.body2" Align="Align.Right" Style="@CataloguePriceStyle">
                                @(TableData.TotalVatCataloguePrice)
                            </MudText>
                        </MudTd>
                    }
                    <MudTd Style="text-align:right" >
                        <MudText Typo="@(Typo.body2)" Align="@(Align.Right)" Style="font-weight:700">
                            @(TableData.TotalVatNetPrice)
                        </MudText>
                    </MudTd>
                </MudTFootRow>

                <MudTFootRow>
                    <MudTd colspan="2" Style="text-align:right">
                        <MudText Typo="Typo.h6">
                            @(lc.Keys["FinalTotal"])
                        </MudText>
                    </MudTd>
                    @if (TableData.Discount == "0%")
                    {
                        @*Do no Show The Column if Discount is Zero*@
                    }
                    else
                    {
                        <MudTd>
                            <MudText Typo="Typo.body2" Align="Align.Right" Style="@CataloguePriceStyle">
                                @(TableData.CataloguePriceSumWithVat)
                            </MudText>
                        </MudTd>
                    }
                    <MudTd Style="text-align:right">
                        <MudText Typo="@(Typo.body2)" Align="@(Align.Right)" Style="font-weight:700">
                            @(TableData.NetPriceSumWithVat)
                        </MudText>
                    </MudTd>
                </MudTFootRow>
            }
            else
            {
                //Show nothing
            }
        }
    </FooterContent>
</MudTable>

 */

}
